.topNav input[type=text]{
    font-size: 17px;
    padding: 4px 8px 4px 8px;
}

.topNav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 14px;
    height: 66px;
    padding: 0px 44px;
}

.topNavRight, .topNavLeft, .topNavCenter{
    display: flex;
    align-items: center ;
    padding: 8px 0px;
}

.topNavRight{
    width: 175.11px;
    justify-content: space-between;
    color: #3366CC;
}

.topNavLeft{
    gap: 10px;
}

.topNavButton{
    border-left: none;
    border-width: thin;
    padding: 1px 11px;
    width: 70px;
    height: 32px;
    background: #F8F9FA;
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0px;
}

.topNavCenter input{
    width: 398px;
}

.menuBar{
    width: 17px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}

.epsilon{
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: black;
    margin: 0px 2px;
}

.epsilonContainer{
    display: flex;
}